In [1]:
import numpy as np
import pandas as pd

In [2]:
my_dict={"James":[40,30,np.nan],"Kirk":[20,np.nan,50],"Lars":[30,50,40]}

In [3]:
my_dataframe=pd.DataFrame(my_dict)

In [4]:
my_dataframe

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

   James  Kirk  Lars
0   40.0  20.0    30
1   30.0   NaN    50
2    NaN  50.0    40

In [5]:
my_dataframe.dropna()

   James  Kirk  Lars
0   40.0  20.0    30

In [6]:
my_dataframe.dropna(axis=1)

   Lars
0    30
1    50
2    40

In [7]:
new_dict={"James":[40,30,np.nan],"Kirk":[20,np.nan,50],"Lars":[30,50,40],"Rob":[45,np.nan,np.nan]}

In [8]:
new_dataframe=pd.DataFrame(new_dict)

In [9]:
new_dataframe

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

   James  Kirk  Lars   Rob
0   40.0  20.0    30  45.0
1   30.0   NaN    50   NaN
2    NaN  50.0    40   NaN

In [10]:
new_dataframe.dropna(axis=1,thresh=2)

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

   James  Kirk  Lars
0   40.0  20.0    30
1   30.0   NaN    50
2    NaN  50.0    40

In [11]:
new_dataframe.fillna(new_dataframe.mean())

   James  Kirk  Lars   Rob
0   40.0  20.0    30  45.0
1   30.0  35.0    50  45.0
2   35.0  50.0    40  45.0

In [12]:
salary_dict={"Programming lenguage":["Python","Python","Python","Swift","Java","Java"],"Name":["A","B","C","D","E","F"],"Salary":[100,90,80,70,60,50]}

In [13]:
salary_data=pd.DataFrame(salary_dict)

In [14]:
salary_data

  Programming lenguage Name  Salary
0               Python    A     100
1               Python    B      90
2               Python    C      80
3                Swift    D      70
4                 Java    E      60
5                 Java    F      50

In [15]:
salary_data=pd.DataFrame(salary_dict)

In [16]:
group_object=salary_data.groupby("Programming lenguage")

In [17]:
group_object.count()

                      Name  Salary
Programming lenguage
Java                     2       2
Python                   3       3
Swift                    1       1

In [18]:
group_object.min()

                     Name  Salary
Programming lenguage
Java                    E      50
Python                  A      80
Swift                   D      70

In [19]:
group_object.max()

                     Name  Salary
Programming lenguage
Java                    F      60
Python                  C     100
Swift                   D      70

In [20]:
group_object.min("Salary")

                      Salary
Programming lenguage
Java                      50
Python                    80
Swift                     70

In [21]:
group_object.mean("Salayr")

                      Salary
Programming lenguage
Java                    55.0
Python                  90.0
Swift                   70.0

In [22]:
group_object.min(numeric_only=True)

                      Salary
Programming lenguage
Java                      50
Python                    80
Swift                     70

In [23]:
group_object.describe()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

                     Salary
                      count  mean        std   min   25%   50%   75%    max
Programming lenguage
Java                    2.0  55.0   7.071068  50.0  52.5  55.0  57.5   60.0
Python                  3.0  90.0  10.000000  80.0  85.0  90.0  95.0  100.0
Swift                   1.0  70.0        NaN  70.0  70.0  70.0  70.0   70.0

In [24]:
dict1={"Name":["A","B","C","D"],
       "Sports":["Basketball","Football","Tennis","Running"],
       "Calories":[100,200,300,400]}

In [25]:
frame1=pd.DataFrame(dict1,index=[1,2,3,4])

In [26]:
frame1

  Name      Sports  Calories
1    A  Basketball       100
2    B    Football       200
3    C      Tennis       300
4    D     Running       400

In [27]:
dict2={"Name":["E","F","G","H"],
       "Sports":["Basketball","Football","Tennis","Running"],
       "Calories":[200,230,330,440]}

In [28]:
frame2=pd.DataFrame(dict2,index=[5,6,7,8])

In [29]:
frame2

  Name      Sports  Calories
5    E  Basketball       200
6    F    Football       230
7    G      Tennis       330
8    H     Running       440

In [30]:
dict3={"Name":["I","J","K","L"],
       "Sports":["Basketball","Football","Tennis","Running"],
       "Calories":[300,130,320,40]}

In [31]:
frame3=pd.DataFrame(dict3,index=[9,10,11,12])

In [32]:
frame3

   Name      Sports  Calories
9     I  Basketball       300
10    J    Football       130
11    K      Tennis       320
12    L     Running        40

In [33]:
new_frame=pd.concat([frame1,frame2,frame3])

In [34]:
new_frame

   Name      Sports  Calories
1     A  Basketball       100
2     B    Football       200
3     C      Tennis       300
4     D     Running       400
5     E  Basketball       200
6     F    Football       230
7     G      Tennis       330
8     H     Running       440
9     I  Basketball       300
10    J    Football       130
11    K      Tennis       320
12    L     Running        40

In [35]:
pd.merge(frame1,frame2,on="Sports")

  Name_x      Sports  Calories_x Name_y  Calories_y
0      A  Basketball         100      E         200
1      B    Football         200      F         230
2      C      Tennis         300      G         330
3      D     Running         400      H         440

In [36]:
new_salary=pd.DataFrame({"Name":["James","Kirk","Lars"],"Salary":[10,20,30],"Age":[60,65,70]})

In [37]:
new_salary

    Name  Salary  Age
0  James      10   60
1   Kirk      20   65
2   Lars      30   70

In [38]:
new_salary["Name"].unique()

array(['James', 'Kirk', 'Lars'], dtype=object)

In [39]:
new_salary["Name"].nunique()

3

In [40]:
def grossToNet(salary):
    return salary*0.65

In [41]:
new_salary["Salary"].apply(grossToNet)

0     6.5
1    13.0
2    19.5
Name: Salary, dtype: float64